@charset "utf-8";

/* reset */
* {font-family:맑은 고딕; margin:0; padding:0; word-break:keep-all; word-wrap:break-word;}

html {-webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none;}
main {display:block;}
a {text-decoration:none;}
button {cursor:pointer;}
img {vertical-align:middle; border:none;}
fieldset {padding:0; border:none;}
legend {position:absolute; left:-9999999px; top:-9999999px;}

/* 디비필드 초기화 */
.dbfield_sec, .dbfield_sec *
{font-size:14px !important;line-height:1.5em;margin:0;padding:0;vertical-align:middle;color:#555 !important;box-sizing:border-box;}

/* 디비필드로 위치 이동 */
#mkis_db {position:relative;}

/* 디비필드 */
.dbfield_sec {overflow:auto;}

.dbfield {margin:2em auto 0 auto;}

.dbfield table {width:100%;height:100px;border-collapse:collapse;}

.dbfield table > tbody > tr > th,
.dbfield table > tbody > tr > td
{border:solid 1px #ccc;padding:0.5em;text-align:left;}

.dbfield table > tbody > tr > th {background:#eee;width:30%;text-align:left;vertical-align:top !important;padding-top:0.8em;padding-bottom:0.8em;}
.dbfield table > tbody > tr > td {background:white;line-height:2.1em;/* padding-top:0.3em; */; padding:.5em .5em;}
.dbfield table > tbody > tr > td > div {margin:0.5em 0 0 0;}

.dbfield table > tbody > tr > th label{background-size:0.37em;text-shadow:none;display:block;}
.dbfield table > tbody > tr > td label{padding:0 !important;border:none !important;width:auto !important;float:none !important;margin-right:0.15em; display:inline-block;}
.dbfield table > tbody > tr > td label span {margin-left:-0.2em;}

.dbfield input[type="text"],
.dbfield textarea,
.dbfield select
{border-radius:4px;border:solid 1px #999 !important;padding-left:0.15em;width:100%;float:none !important;margin:0 !important;height:2em !important;line-height:2em !important;text-align:left;background:white;}

.dbfield input[type="text"],
.dbfield textarea
{padding:0px 4px;}

.dbfield textarea{height:7em !important;line-height:1.5em !important;}
.dbfield select{width:auto;}

.dbfield_explain{display:inline-block;font-size:0.9em !important;margin:0.3em 0 0 0;}

/* 디비필드(투명) */
.dbfield_gray {opacity:0.97;}
.dbfield_gray label
, .dbfield_gray label *
, .dbfield_gray span 
{color:white !important;}

.dbfield_gray .btn_dbfield_submit {background:#ff7800;}
.dbfield_gray table > tbody > tr > th, 
.dbfield_gray table > tbody > tr > td
{background:#616060;border:solid 2px #aaa;}

.dbfield_gray input[type="text"],
.dbfield_gray textarea
{color:#000 !important;background:#fff;}

/* 디비필드 안의 버튼들 */
.btn_dbfield{display:inline-block;padding:0 0.7em;min-width:4em;background:#333;text-align:center;border-radius:0.4em;}
.btn_dbfield:hover{background:#ff0000;}
.btn_dbfield span{color:white !important;font-size:0.9em !important;display:inline-block;line-height:2.1em;}

/* 개인정보 취급방침 버튼 */
.btn_private{width:8em;height:1.5em;background:url(http://www.dbdbdeep.com/cms/pub/img/btn_private.png) no-repeat center;display:inline-block;background-size:100%;margin-right:0.2em;}
.btn_private span{position:absolute;left:-99999px;}

/* 디비필드 신청버튼 초기화 */
.btn_dbfield_submit_w, .btn_dbfield_submit_w *
{font-size:14px !important;line-height:1.5em;margin:0;padding:0;vertical-align:middle;color:#555;box-sizing:border-box;}
/* 디비필드 신청버튼 */
.btn_dbfield_submit_w {margin:1.5em 0 1.8em; text-align:center;}
.btn_dbfield_submit{padding:0 1.5em;min-width:15em;background:#054ec2;display:inline-block;text-align:center;text-decoration:none;border-radius:0.6em;border:0;cursor:pointer;}
.btn_dbfield_submit_skyblue {background:#23a9dc;}
.btn_dbfield_submit_blue {background:#1984f5;}
.btn_dbfield_submit_orange {background:#ff7800;}
.btn_dbfield_submit_red {background:#d21b1b;}
.btn_dbfield_submit:hover{background:#ec4d0e;}
.btn_dbfield_submit span{line-height:2.8em;color:white !important; font-size:1.4em !important;font-weight:bold;}

/* 풋터 초기화 */
#dbfooter, #dbfooter *
{font-size:14px !important;line-height:1.5em;margin:0;padding:0;vertical-align:middle;color:#555;box-sizing:border-box;}
/* 풋터 */
#dbfooter{background:#2c2c2c;text-align:center;padding:0.8em 1em;}
#dbfooter *{color:white;line-height:1.5em;}
#dbfooter > p{margin:1em 0;font-size:1.2em !important;}

/* 본문내용 ================================================== */
.con .dbbtn_w {position:absolute;left:0;right:0;margin:auto;bottom:5%;text-align:center;}
.con .dbbtn {background:#333;display:inline-block;padding:1em 2em;border:solid 2px white;border-radius:0.6em;font-weight:bold;}
.con .dbbtn span {color:white;}

/* custom */