@charset "utf-8";
/* Marketing is CPA common css */

/* Global ================================================== */
* {font-family:맑은 고딕; margin:0; word-break:keep-all; word-wrap:break-word;}

/* HTML ================================================== */
html {-webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none;}
body {}

main {display:block;}

a {text-decoration:none;}
button {cursor:pointer; border:none;}

img {vertical-align:middle; border:none;}

caption {position:absolute; left:-9999999px; top:-9999999px;}

/* Custom ================================================== */
.no_br {white-space:nowrap;}
.ir {position:absolute;left:-9999999px;top:-9999999px}
.w100p {width:100%;}
.align_left {text-align:left !important;}
.align_center {text-align:center !important;}
.align_right {text-align:right !important;}
.both {overflow:hidden;}
.both > div {float:right;}
.both > div:first-child {float:left;}

.mi_explain {background:#eef;padding:1px;border:solid 2px #ccc;}

/* 디비필드 ================================================== */

/* 디비필드 위치 */
#mkis_db {position:relative;}

/* 디비필드 */
.dbfield_sec{margin:0 auto;position:relative; padding:30px 0;}

 #dbfield{position:absolute; width:20px;height:20px;background:transparent; top:0%;}
 
.dbfield, .dbfield *
{font-size:14px !important;line-height:1.5em;margin:0;padding:0;vertical-align:middle;color:#555 !important;box-sizing:border-box;}
.dbfield {width:auto;border:solid 0px gold;}
.dbfield table {width:100%;height:100px;border-collapse:collapse;}

.dbfield table > tbody > tr > th,
.dbfield table > tbody > tr > td
{border:solid 1px #ccc;padding:0.5em;text-align:left;}

.dbfield table > tbody > tr > th {background:#eee;width:30%;text-align:left;vertical-align:top !important;padding-top:0.8em;padding-bottom:0.8em;}
.dbfield table > tbody > tr > td {background:white;line-height:2.1em;/* padding-top:0.3em; */; padding:.5em .5em;}
.dbfield table > tbody > tr > td > div {margin:0.5em 0 0 0;}

.dbfield table > tbody > tr > th label{background:url(../img/icon_th.png) no-repeat left 0.5em;padding-left:.7em !important;background-size:0.35em;text-shadow:none;display:block;}
.dbfield table > tbody > tr > td label{padding:0 !important;border:none !important;width:auto !important;float:none !important;margin-right:0.15em; display:inline-block;}
.dbfield table > tbody > tr > td label span {margin-left:-0.2em;}

.dbfield input[type="text"],
.dbfield textarea,
.dbfield select
{border-radius:4px;border:solid 1px #999 !important;padding-left:0.15em;width:100%;float:none !important;margin:0 !important;height:2em !important;line-height:2em !important;text-align:left;background:white;}

.dbfield textarea{height:8em !important;line-height:1.5em !important;}
.dbfield select{width:auto;}

.dbfield_explain{display:inline-block;font-size:0.9em !important;margin:0.3em 0 0 0;}

/* 디비필드(투명) */
.dbfield2{opacity:0.97;}
.dbfield2 label
, .dbfield2 label *
, .dbfield2 span 
{color:white !important;}

.dbfield2 table > tbody > tr > th, 
.dbfield2 table > tbody > tr > td
{background:#555;border:solid 2px #aaa;}

.dbfield2 input[type="text"],
.dbfield2 textarea
{color:#000 !important;background:#fff;}

/* 디비필드 안의 버튼들 */
.btn_dbfield{display:inline-block;padding:0 0.7em;min-width:4em;background:#333;text-align:center;border-radius:0.4em;}
.btn_dbfield:hover{background:#ff0000;}
.btn_dbfield span{color:white !important;font-size:0.9em !important;display:inline-block;line-height:2.1em;}

/* 개인정보 취급방침 버튼 */
.btn_private{width:8em;height:1.5em;background:url(../img/btn_private.png) no-repeat center;display:inline-block;background-size:100%;margin-right:0.2em;}
.btn_private span{position:absolute;left:-99999px;}

/* 디비필드 신청버튼 */
.btn_dbfield_submit_w, .btn_dbfield_submit_w *
{font-size:14px !important;line-height:1.5em;margin:0;padding:0;vertical-align:middle;color:#555;box-sizing:border-box;}
.btn_dbfield_submit_w {text-align:center;margin:2em 0 0;}
.btn_dbfield_submit{padding:0 1.5em;min-width:15em;background:#054ec2;display:inline-block;text-align:center;text-decoration:none;border-radius:0.6em;border:0;cursor:pointer;}
.btn_dbfield_submit:hover{background:#ec4d0e;}
.btn_dbfield_submit span{line-height:2.8em;color:white;font-size:1.4em !important;font-weight:bold;}

/* 풋터 */
#dbfooter, #dbfooter *
{font-size:14px !important;line-height:1.5em;margin:0;padding:0;vertical-align:middle;color:#555;box-sizing:border-box;}
#dbfooter{background:#2c2c2c;text-align:center;padding:0.8em 1em;}
#dbfooter *{color:white;line-height:1.5em;}
#dbfooter > p{margin:1em 0;font-size:1.2em !important;}

/* 본문내용 ================================================== */

.con .dbbtn_w {position:absolute;left:0;right:0;margin:auto;bottom:5%;text-align:center;}
.con .dbbtn {background:#333;display:inline-block;padding:1em 2em;border:solid 2px white;border-radius:0.6em;font-weight:bold;}
.con .dbbtn span {color:white;}

/* 사이트 고유 CSS 작성 ================================================== */
